@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #aaffdc; /* Alien Green */
    --color-primary-glow: rgba(170, 255, 220, 0.25);
  }

  body {
    @apply bg-[#0e0e10] antialiased;
    color: #f9f5f8;
    background-image: radial-gradient(rgba(72, 71, 74, 0.2) 1px, transparent 0);
    background-size: 24px 24px;
  }
}

.glow-shadow-primary {
  box-shadow: 0 0 20px var(--color-primary-glow);
}
.glow-shadow-error {
  box-shadow: 0 0 20px rgba(255, 113, 108, 0.08);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}